.navIcom {
	width: 64px;
	height: 64px;
	// width: 58.5%;
	// height: calc(width);
	border-radius: 6px;
	background-color: #fff;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}